
body {
  text-align: center;
  font-size: 16px;
  font-family: 'Comic Sans MS', Helvetica, sans-serif;
}
table {
  margin-left:auto;
  margin-right:auto;
  width: 551px;
  border-spacing: 0px;
  -webkit-user-select: none;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
td {
  height: 34px;
  width: 34px;
  text-align: center;
  font-size: 24px;
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
}
#players {
  margin-left:auto;
  margin-right:auto;
  padding: 20px 10px 10px 10px;
  width: 511px;
  text-align: left;
}
#players > div {
  display: inline-block;
  padding-right: 25px;
  color: #cccccc;
  -webkit-transition-duration: 200ms;
}
#newgame.button {
  float: right;
}
.current-player {
  color: black !important;
  -webkit-transform: scale(1.5);
}
.X-marker {
  color: #663366;
}
.X-marker:before {
  content: "X";
}
.O-marker {
  color: #CC0033;
}
.O-marker:before {
  content: "O";
}

/* Start by setting display:none to make this hidden.
Then we position it in relation to the viewport window
with position:fixed. Width, height, top and left speak
for themselves. Background we set to 80% white with
our animation centered, and no-repeating */
.modal {
  display:    none;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .8 )
              url('loading.gif')
              50% 50%
              no-repeat;
}

/* When the body has the loading class, we turn
the scrollbar off with overflow:hidden */
body.loading .modal {
  overflow: hidden;
}

/* Anytime the body has the loading class, our
modal element will be visible */
body.loading .modal {
  display: block;
}

.loginscreen.hidden {
  display: none;
}

.loginscreen {
  display: block;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, 1 );
}

.loginscreen #loginscreen-padding {
  height: 200px;
}

*:focus {
  outline: none;
}
